/* Css général */

body{
	background:#828282;
}

.game{
	background:#fff;
}

.bg-gray-300 {
	background:#969696;
}

.vote-input{
	margin-top:0.8rem;
}

/* page d'accueil */
.homepage-bg {
	background: url("../img/backgrounds/homepage.jpg");
	background-size: auto;
	background-position-y: 40%;
}

.home-logo{
	position:absolute;
	left:0;
	z-index:1000;
	width:100%;
	height:1px;
}

.home-logo > img{
	position:relative;
	top:10px;
	width:250px;
}

@media (max-width: 576px) {
	.home-logo a > img{
		width:150px;
	}
	
	.home-logo{
		top:30px;
		position:absolute;
	}
}

.home-nav{
	background: url("../img/backgrounds/nav-bg.png");
	box-shadow: rgb(100, 100, 100) 0 2px 5px 0;
	/* background: rgb(25,32,77); */
	/* background: linear-gradient(180deg, rgba(25,32,77,1) 0%, rgba(45,57,140,1) 50%, rgba(0,60,152,1) 100%); */
}

.mini-logo{
	position:relative;
	width:100%;
}

.mini-logo > img {
	position:absolute;
	left:15%;
	width:70px;
	top:5%;
}

/* classements et médailles */

.gold-medal {
	background-color: rgba(275,205,0,0.3);
}

.silver-medal {
	background-color: rgba(192,192,192,0.3);
}

.bronze-medal {
	background-color: rgba(205,127,50,0.3);
}

/* heights and width custom */
.rotate-20deg {
	transform: rotate(-20deg);
}

.h-20 {
	height:20rem;
}

.h-22 {
	height:22rem;
}

.h-full {
	height:100%;
}

.w-full {
	width:100%;
}

.w-max100{
	max-width:100px;
}

.h-6 {
	height:1.5rem;
}

.w-6 {
	height:1.5rem;
}

/* couleur des camps */
.text-north{
	color:rgb(0,90,230);
}

.text-south{
	color:rgb(230,0,0);
}

.text-neutral{
	color:rgb(200,200,200);
}

.text-indian{
	color:rgb(0,200,0);
}

.text-outlaw{
	color:rgb(50,50,50);
}

.bg-north{
	background-color:rgba(0,90,230,0.2);
}

.bg-south{
	background-color:rgba(230,0,0,0.2);
}

.bg-neutral{
	background-color:rgba(200,200,200,0.2);
}

.bg-indian{
	background-color:rgba(0,200,0,0.2);
}

.bg-outlaw{
	background-color:rgba(50,50,50,0.2);
}

.card-north, .card-south{
	opacity: 0.8;
}

.card-selection input[type="radio"]:disabled + label .card > div{
	border-color:rgb(200,200,200) !important;
	background-color:rgba(0,0,0,0.2) !important;
	opacity: 0.3 !important;
}

.card-selection input[type="radio"]:checked + label .card-north{
	border-color:rgb(0,90,230);
	opacity: 1;
}

.card-selection input[type="radio"]:checked + label .bg-north{
	background-color:rgba(0,90,230,0.5);
}

.card-selection input[type="radio"]:checked + label .card-south{
	border-color:rgb(230,0,0);
	opacity: 1;
}

.card-selection input[type="radio"]:checked + label .bg-south{
	background-color:rgba(230,0,0,0.5);
}

/* affichage sur la carte */

.spot-obj{
	position:relative;
	top:0;
	left:-13px;
	width:1rem;
}

/* messages and notifications */

.maintenance-msg{
	white-space:pre-line;
}

/* news */
.news {
	overflow-y: scroll;
	text-overflow: "";
}

.background-img {
	z-index:-1;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

/* sac */
.sac {
	z-index:-1;
	background:no-repeat url("../img/backgrounds/sac_optimized-transp.png"), url("../img/backgrounds/wood.png");
}

/* items */
.items {
	z-index:-1;
	background:center url("../img/backgrounds/items_admin.jpg");
	background-size: auto;
}

/* Etat Major */
.emBg {
	z-index:-1;
	background:center url("../img/backgrounds/em_bg.jpg");
	background-size: auto;
}

/* Banque */
.bankBg {
	background:center url("../img/backgrounds/bank_bg.jpg");
	background-size: auto;
}

.treasuryBg {
	background:center url("../img/backgrounds/treasury_bg.jpg");
	background-size: cover;
}

/* icons custom */
.warning-icon-lg {
	height:2.5rem;
	width:2.5rem;
}

.maintenance-icon-lg {
	height:3.5rem;
	width:3.5rem;
	transform:rotate(45deg);
}
