/* Css général */

body{
	background:#828282;
}

.game{
	background:#fff;
}

.main-page {
	padding-bottom:7rem;
}

.bg-gray-300 {
	background:#969696;
}

.vote-input{
	margin-top:0.8rem;
}

/* plateau de jeu */
.boardgame-grid{
	display:grid;
	/* grid-template-columns: repeat(25, 40px); */
	grid-auto-rows: 40px;
	grid-auto-columns: 40px;
}

.game-tile {
	display:flex;
	align-items: center;
	justify-content: center;
	position: relative;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
	overflow:hidden;
}
.tile-empty{
	background: url("../img/grounds/0.jpg");
}
.tile-prairie{
	background: url("../img/grounds/1.png");
}
.tile-hill{
	background: url("../img/grounds/2.png");
}
.tile-mountain{
	background: url("../img/grounds/3.png");
}
.tile-desert{
	background: url("../img/grounds/4.png");
}
.tile-snow{
	background: url("../img/grounds/5.gif");
}
.tile-marsh{
	background: url("../img/grounds/6.gif");
}
.tile-forest{
	background: url("../img/grounds/7.png");
}
.tile-water{
	background: url("../img/grounds/8.gif");
}
.tile-deep_water{
	background: url("../img/grounds/9.gif");
}

/* unités */

.unit{

}

/* page d'accueil */
.homepage-bg {
	background: url("../img/backgrounds/homepage.jpg");
	background-size: auto;
	background-position-y: 40%;
}

.home-logo{
	position:absolute;
	left:0;
	z-index:1000;
	width:100%;
	height:1px;
}

.home-logo > img{
	position:relative;
	top:10px;
	width:250px;
}

@media (max-width: 576px) {
	.home-logo a > img{
		width:150px;
	}
	
	.home-logo{
		top:30px;
		position:absolute;
	}
}

.home-nav{
	background: url("../img/backgrounds/nav-bg.png");
	box-shadow: rgb(100, 100, 100) 0 2px 5px 0;
	/* background: rgb(25,32,77); */
	/* background: linear-gradient(180deg, rgba(25,32,77,1) 0%, rgba(45,57,140,1) 50%, rgba(0,60,152,1) 100%); */
}

.mini-logo{
	position:relative;
	width:100%;
}

.mini-logo > img {
	position:absolute;
	left:15%;
	width:70px;
	top:5%;
}

/* classements et médailles */

.gold-medal {
	background-color: rgba(275,205,0,0.3);
}

.silver-medal {
	background-color: rgba(192,192,192,0.3);
}

.bronze-medal {
	background-color: rgba(205,127,50,0.3);
}

/* heights and width custom */
.rotate-20deg {
	transform: rotate(-20deg);
}

.h-20 {
	height:20rem;
}

.h-22 {
	height:22rem;
}

.h-full {
	height:100%;
}

.w-full {
	width:100%;
}

.w-max100{
	max-width:100px;
}

.h-6 {
	height:1.5rem;
}

.w-6 {
	width:1.5rem;
}

.size-6 {
	width:1.5rem;
	height:1.5rem;
}

.size-7 {
	width:1.75rem;
	height:1.75rem;
}

.size-8 {
	width:2rem;
	height:2rem;
}

.size-10 {
	width:3rem;
	height:3rem;
}

.size-11 {
	width:4rem;
	height:4rem;
}

.size-12 {
	width:5rem;
	height:5rem;
}

.icon-character {
	width:40px;
	height:40px;
}
/* couleur des camps */
.text-north{
	color:rgb(0,90,230);
}

.text-south{
	color:rgb(230,0,0);
}

.text-neutral{
	color:rgb(200,200,200);
}

.text-indian{
	color:rgb(0,200,0);
}

.text-outlaw{
	color:rgb(50,50,50);
}

.bg-north{
	background-color:rgba(0,90,230,0.2);
}

.bg-south{
	background-color:rgba(230,0,0,0.2);
}

.bg-neutral{
	background-color:rgba(200,200,200,0.2);
}

.bg-indian{
	background-color:rgba(0,200,0,0.2);
}

.bg-outlaw{
	background-color:rgba(50,50,50,0.2);
}

.card-north, .card-south{
	opacity: 0.8;
}

.card-selection input[type="radio"]:disabled + label .card > div{
	border-color:rgb(200,200,200) !important;
	background-color:rgba(0,0,0,0.2) !important;
	opacity: 0.3 !important;
}

.card-selection input[type="radio"]:checked + label .card-north{
	border-color:rgb(0,90,230);
	opacity: 1;
}

.card-selection input[type="radio"]:checked + label .bg-north{
	background-color:rgba(0,90,230,0.5);
}

.card-selection input[type="radio"]:checked + label .card-south{
	border-color:rgb(230,0,0);
	opacity: 1;
}

.card-selection input[type="radio"]:checked + label .bg-south{
	background-color:rgba(230,0,0,0.5);
}

/* affichage sur la carte */

.spot-obj{
	position:relative;
	top:0;
	left:-13px;
	width:1rem;
}

/* rosace de déplacement */
.moving-arrows{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	/* grid-gap: 10px; */
	/* grid-auto-rows: minmax(100px, auto); */
}

/* messages and notifications */

.maintenance-msg{
	white-space:pre-line;
}

/* news */
.news {
	overflow-y: scroll;
	text-overflow: "";
}

.background-img {
	z-index:-1;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

/* Profil */
.avatar {
	width:150px;
	height:150px;
}
.avatar-img::before {
	position:relative;
	top:12px;
	font-size:5rem;
	font-family: "Times New Roman", Times, serif;
}

.avatar .unit-name {
	position:relative;
	bottom:5px;
}

/* equipement */
.no-symbol {
	position:absolute;
	top:15px;
	left:15px;
}

/* sac */
.sac {
	z-index:-1;
	background:no-repeat url("../img/backgrounds/sac_optimized-transp.png"), url("../img/backgrounds/wood.png");
}

/* items */
.items {
	z-index:-1;
	background:center url("../img/backgrounds/items_admin.jpg");
	background-size: auto;
}

/* Etat Major */
.emBg {
	z-index:-1;
	background:center url("../img/backgrounds/em_bg.jpg");
	background-size: auto;
}

/* Banque */
.bankBg {
	background:center url("../img/backgrounds/bank_bg.jpg");
	background-size: auto;
}

.treasuryBg {
	background:center url("../img/backgrounds/treasury_bg.jpg");
	background-size: cover;
}

/* compagnies */
.card-company .card-img-top{
	height:150px;
}

.card-company{
	background:center url("../img/backgrounds/company-select-bg.png");
	background-size: auto;
}

.card-company:hover .card-body, .card-company:hover .card-img-top  {
	background-color:rgba(255,255,255,0.3) !important;
}

.company-img {
	width:130px;
	height:130px;
}

/* persos */
.card-camp .card-img-top{
	height:150px;
}

.card-camp-north{
	background:center url("../img/backgrounds/american-flag-1861-cube.png");
	background-size: cover;
}

.card-camp-south{
	background:center url("../img/backgrounds/confedered-flag-1861-cube.png");
	background-size: cover;
}

.bg-camp-north{
	background:center linear-gradient(to top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.7)), url("../img/backgrounds/american-flag-1861-cube.png");
	background-size: cover;
}

.bg-camp-south{
	background:center linear-gradient(to top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.7)), url("../img/backgrounds/confedered-flag-1861-cube.png");
	background-size: cover;
}


.card-camp:hover .card-img-top  {
	background-color:rgba(255,255,255,0.3) !important;
}
.card-camp:hover .card-body  {
	background-color:rgba(255,255,255,0.5) !important;
}

.camp-img {
	width:130px;
	height:130px;
}

.card-edit-btn {
	position:absolute;
	top:0;
	width:100%;
}

/* -- bandeau d'info -- */
.card-ribbon {
	position: absolute;
	width:7rem;
	height:7rem;
	overflow: hidden;
}

.card-ribbon span {
	position: absolute;
	display: block;
	width: 11rem;
	padding: 15px 0;
	text-shadow: 0 1px 1px rgba(0,0,0,.5);
	border-bottom:1px solid rgba(1,1,1,0.4);
	/* text-transform: uppercase; */
	text-align: center;
}

.card-ribbon-top-left {
	/* top: 0.5rem; */
	/* left: 0.5rem; */
}

.card-ribbon-top-left span {
	top: 0.5rem;
	left:-3.15rem;
	transform: rotate(-45deg);
}

.card-camp:hover .card-edit-btn{
	color:rgba(255,255,255,1) !important;
}

.card-btn-desactivate:hover{
	font-weight:600;
	background-color:rgba(220,53,69,1) !important;
}

.card-btn-activate:hover{
	font-weight:600;
	background-color:rgba(25,132,84,1) !important;
}

/* icons custom */

.icon-lg {
	height:2.5rem;
	width:2.5rem;
}

.warning-icon-lg {
	height:2.5rem;
	width:2.5rem;
}

.maintenance-icon-lg {
	height:3.5rem;
	width:3.5rem;
	transform:rotate(45deg);
}

/* list group */
ol.list-group > li:nth-of-type(odd) {
    background-color: rgb(242,242,242) ;
}

.navMainMenu a{
	text-decoration:none !important;
}

.cat-title{
	/* border : 3px groove rgba(159,117,42,1); */
	border : 3px double rgba(180,150,0,1);
	border-radius: 7px;
	background: #382910;
	background:#4a0200 center url("../img/backgrounds/dark-stripes-light.png");
	color:#fff;
	padding: 0.1rem 0.4rem;
	font-size:0.9rem !important;
	vertical-align: middle;
	font-family: "Times", "Times New Roman", "Georgia", serif;
	/* font-variant-caps: all-small-caps; */
	letter-spacing: 2px;
	box-shadow: 0 1px 5px rgba(0,0,0,0.8);
}

/* titres personnalisés */

.title-ribbon {
	color:#fff;
	letter-spacing: 2px;
	font-size:1rem !important;
	vertical-align: middle;
	font-family: "Times", "Times New Roman", "Georgia", serif;
	border : 3px double rgba(180,150,0,1);
	position: relative;
	margin: 0 auto 20px;
	padding: 5px 20px;
	text-align: center;
	background:#4a0200 center url("../img/backgrounds/dark-stripes-light.png");
	box-shadow: 0 3px 10px rgba(0,0,0,0.8);
}

.title-ribbon::before, .title-ribbon::after {
	/* position des bords du ruban */
	content: '';
	width: 80px;
	height: 100%;
	background:#300200 center url("../img/backgrounds/dark-stripes-light.png");
	border : 3px double rgba(180,150,0,1);
	position: absolute;
	z-index: -1;
	top: 15px;
	box-shadow: 0 1px 5px rgba(0,0,0,0.8);
	/* fin du ruban */
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 25% 50%);
}

.title-ribbon::before {
	left: -60px;
}

.title-ribbon::after {
	right: -60px;
	transform: scaleX(-1); /* flip horizontal */
}


.title-ribbon-sm{
	padding: 5px 10px;
}

.title-ribbon-sm::before, .title-ribbon-sm::after{
	width: 40px;
	top: 13px;
}

.title-ribbon-sm::before {
	left: -26px;
}

.title-ribbon-sm::after {
	right: -26px;
	transform: scaleX(-1); /* flip horizontal */
}

.main-menu-button:hover{
	transform: translateY(42px);
}

/* affichage pastille en attente de refacto */

.spot-obj{
	position:relative;
	top:0;
	left:-11px;
	width:1rem;
}

/* background général */

.bg-main {
	background-color: rgba(150,125,80,1);
	background-image:url("../img/backgrounds/cardboard.png");
}

.bg-main-var{
	background-color: rgba(180,160,120,1) !important;
}